@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sunflower</h1>
    <p class="lead">Sunflower aims to manage products within departmental sub-categories</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Any questions email <a href="mailto:oliver.penney@dunelm.com?Subject=Sunflower">Oliver</a> or <a href="mailto:hannah.thomas@dunelm.com?Subject=Sunflower">Hannah</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Info</h2>
        <p>The site runs better in Chrome, though most things should work in Edge/IE</p>
        <p>You can edit URLs if you want to change filters</p>
        <p>You can also open links to new windows</p>
        @*<p>Click <a href="http://dunv-hqsql01-p/Reports_SQL01/Pages/Folder.aspx?ItemPath=%2fPromoPipeLine&ViewMode=List">here</a> for reports (works better in IE/Edge or with the IE extension in Chrome)</p>*@
    </div>
    <div class="col-md-4">
        <h2>Extra Info</h2>
        <p>This environment is :-</p>
        <p>@System.Configuration.ConfigurationManager.AppSettings["Environment"]</p>
        <p>Sunflower version is :-</p>
        <p>@System.Configuration.ConfigurationManager.AppSettings["Version"]</p>
    </div>
</div>